rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Permite el acceso de lectura a todos los documentos para cualquier usuario (autenticado o no)
    match /{document=**} {
      allow read: if true;
    }

    // Restringe las operaciones de escritura. Solo los usuarios autenticados pueden modificar su propio documento de usuario.
    // Esto es un ejemplo. Las reglas de escritura deben ajustarse a las necesidades específicas de tu aplicación.
    match /users/{userId} {
        allow write: if request.auth != null && request.auth.uid == userId;
    }

    match /vip_memberships/{membershipId} {
      // Permitir que un usuario autenticado actualice un código VIP (p. ej., para marcarlo como usado)
      allow update: if request.auth != null;
      // Nadie puede crear o eliminar códigos VIP desde el lado del cliente
      allow create, delete, write: if false;
    }
  }
}
